<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<property name="current_session_context_class">thread</property>
		<!-- this will show us all sql statements -->
		<property name="hibernate.show_sql">true</property>

		<!-- mapping files -->
		<!-- 注意看上面的mapping节点：第一个使用的是mapping映射文件，第二个使用java注解映射方式。这两个文件将在后面创建。 -->
		<mapping resource="study/hry/spring/springhibernate/simple2/House.hbm.xml" />
 
		<mapping class="study.hry.spring.springhibernate.simple2.Person" />
 
	</session-factory>
</hibernate-configuration>