<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<!--naming rule, ex: first_name => firstName -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
 
	<plugins>
		<plugin interceptor="study.hry.spring.mybatis.springmybatis.interceptor.page.PageInterceptor" >
			<property name="databaseType" value="mysql"/>
		</plugin>
	</plugins>
 
</configuration>
