#set($layout="layout/fulllayout.vm")
#set($page_title="测试首页")
#set($products = ["one", "two", "three"])  
#set($companyName = "Pig Law")
#parse("macro/writeTable.vm")
#define($script) 
## custom script here
<script src="script/jquery.js" type="text/javascript"></script>  
#end
    Here we use a custom tool: $toytool.message
    <div>
         <ul>   
            #foreach($CourseBean in $newstool.ListTopNews(10))  
            <li>       
                ${CourseBean.name}
            </li>   
            #end   
         </ul>
    </div>
    #set($region = "news") 
    #set($key = "home") 
    ##cache("CACHE_$region",$key)
    ##end
    <div> 
    ##cache("News","home") 
    ## 读取数据库中最新新闻并显示
    <ul>   
        #foreach($CourseBean in $newstool.ListTopNews(10))  
        <li>       
            ${CourseBean.name}
        </li>   
        #end   
    </ul>
    ##end
    </div>
 
<table>
#writeTable($products)  
</table>
<br>
#parse("template/pageFooter1.vm")
<br>
$innerVar
<br>
#include("template/pageFooter.vm")