## 定义使用的模板
#set($layout="layout/fulllayout.vm")

## 设置变量，此值可以被模板引用
#set($page_title="测试首页")

#set($products = ["one", "two", "three"])  
#set($companyName = "Pig Law")

## 引入自定义宏
#parse("macro/writeTable.vm")

## 定义
#define($script) 
## custom script here
<script src="script/jquery.js" type="text/javascript"></script>  
#end

    Here we use a custom tool:
    <div>
         <ul>   
         	## 引用自定义库
            #foreach($customer in $newstool.ListTopNews(10))  
            <li>       
                ${customer.name} 
            </li>   
            #end   
         </ul>
    </div>
    
 
<table>
## 使用自定义宏
#writeTable($products)  
</table>
<br>

## 加载外部vm
#parse("template/pageFooter1.vm")
<br>

## 此值定义在pageFooter1.vm
$innerVar
<br>

#include("template/pageFooter.vm")
