#macro (writeTable $productList)   
    #set ($rowCount = 1)               
    #foreach($product in $productList)             
    #if ($rowCount % 2 == 0)   
        #set ($bgcolor = "#FFFFFF")   
    #else   
        #set ($bgcolor = "#CCCCCC")            
    #end   
        <tr>  
            <td bgcolor="$bgcolor">$product</td>
            <td bgcolor="$bgcolor">$product</td>
        </tr>                          
        #set ($rowCount = $rowCount + 1)   
    #end   
#end   